$web-font-path: "https://fonts.googleapis.com/css?family=Comfortaa:300,700|Roboto:300,400,500,700";

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family: $font-family-heading;
$headings-font-weight: 700;

$table-border-color: #b4bcc2;
