@function dynamic-text-color($color) {
  @if (lightness( $color ) > 40) {
    @return darken($color, 40);
  }
  @else {
    @return lighten($color, 40);
  }
}

body {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: ($font-size-base + 1);
  font-weight: 300;
}

.page-title {
  text-align: center;
}

.block {
  display: block;
  margin: 40px 0;
  padding: 20px 40px 60px 40px;
  border: 1px solid lighten($jumbotron-bg, 5%);
  background-color: $jumbotron-bg;
  :after {
    clear: both;
  }
}
.block-box {
  text-align: center;
  min-height: 200px;
  padding: 60px 0;
  .glyphicon {
    font-size: 48px;
    padding: 10px;
  }
}

.footer {
  padding: 20px 0;
  color: dynamic-text-color($navbar-default-bg);
  background: $navbar-default-bg;
}
.footer-bottom {
  margin: 10px 0;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.shorten-output {
  margin-top: 20px;
  font-size: $font-size-large;
}
