$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: $font-family-heading;
$icon-font-path: "../fonts/";
$web-font-path: "";

@import "../../../bower_components/bootswatch/flatly/variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../bower_components/bootswatch/flatly/bootswatch";
@import "../../../bower_components/sweetalert/dev/sweetalert";
@import "anon.to";